  <p>This paragragh is in the root AppComponent. AppComponent is the application shell. It has a title, a navigation bar with links, and a <code>router-outlet</code> where the router swaps components on and off the page.</p>

  <p>All of the content below the title and navigation is being delivered through the <code>router-outlet</code>.</p>

  <h1><a href="/">{{ title }}!</a></h1>
  <ul>
    <li><a routerLink="/first">First</a></li>
    <li><a routerLink="/second">Second</a></li>
    <li><a routerLink="second/third">Third</a></li>
    <li><a routerLink="fourth">Fourth</a></li>
  </ul>

<div class="container">
  <router-outlet></router-outlet>
</div>
